<html>
  <head>

    <meta charset="utf-8">
    <title>P1: Organizer</title>
    {% load static %}
    {% include "bootstrap.html" %}
    <script src="{%static 'organizer.js' %}" /></script>
    <link rel="stylesheet" href="{%static 'organizer.css' %}"/>

  </head>
  <body>
    {% include "enviroment/navigation.html" %}
    <div>
      <h1>CINS 465: Project 1 by Clemens Strigl</h1>
    </div>
    <div class="aboutPage container">
      <div class="col-7 aboutPage">
        <img src="{% static 'CSImage.jpg' %}" class="img-fluid"/>
      </div>
      <div class="jumbotron, margin">
        <p>Hi, my name is Clemens Strigl. I was born in Austria and lived there for most of my life. I moved to the US 6 years ago where i found the passion for coding and have been interested in it ever since. I graduated from Fremont High School in Sunnyvale
          in 2020. Although it was not much of a graduation, I still very much enjoyed the final few months of Senior year at home. Since then I have been attending Chico State University to learn Computer Science and to hopefully have a well paying job after
          that will last me for a life time.</p>
        </div>
        <div>
          <h3>Programming Process</h3>
          <p>Project one was definitly a really fun webpage to program. I had some challenges thoughout the process but in the end i was able to fix them all the have a smooth running program. For my category request, since we were not allowed to use choices, i
          there for used ajax queries to retrieve the data and input it into the webpage afterwards. This did present some challeneges like having to learn ajax but it worked really well once i fixed all the bugs. I did have some trouble with calling the extra html files that would replace what ever was in the button for the completed in tasks or the categories in both tasks and budget. </p>
        </div>
      </div>
    </body>
</html>
