input[type="text"]:enabled:hover{
  background-color: yellow;
}



.logoutButton:hover:after{
  content:" Logout";
}

.completeBNT{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: dodgerblue;
}

.charts{
  margin: auto;
}

.BC{
  padding: 60px;
}

h1{
  text-align: center;
}
