<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Organizer</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/history">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/CPSummary">Budget</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Journal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      <li class="nav-item">
        <a class="nav-link" href="/admin" target="_blank">Admin</a>
      </li>
    </ul>

    <ul>
      {% if user.is_authenticated %}
      <a class="nav-link" href="/login/">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </a>
      {% else %}
      <a class="nav-link" href="//logout/">
        <button class="btn btn-outline-success my-2 my-sm-0" id="AccountButton" type="button" href="#">{{user.username}}</button>
      </a>
      {% endif %}
    </ul>
  </div>
</nav>
